:root{ /* variables of color*/
    --red:#E50914;
    --black:#141414;
    --grey: #AAA;
    --white: #FFF;
}

*{ /*reset css*/
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* base elements */
body{
    background: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row; /*is the automatic setting for flex*/
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--red);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

header nav a{
    text-decoration: none;
    color: var(--grey);
    margin-right: 10px;
}

header nav a:hover{
    color: var(--white);
}

/*Main moovie*/
.main-movie{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100% ), url('../img/frozen-capa.jpg');
    
    background-size: cover;
    height: 400px;
    /*Only direct child elements inherit the flex but if the child
     is another DIV, it will be by default a display:block*/
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .description{
    margin-bottom: 40px;
}

.title{
    font-size: 40px;
}